services:
  - type: web
    name: easycart
    env: docker
    plan: free
    region: frankfurt
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: true  # обязательно true!
      - key: APP_URL
        generateValue: true
    healthCheckPath: /
    autoDeploy: true